<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.amparosrl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <meta-data
                android:name=".DEFAULT_URL"
                android:value="${defaultUrl}"/>

            <meta-data
                android:name="asset_statements"
                android:value="${assetStatements}" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="https" android:host="${hostName}" ></data>
            </intent-filter>
        </activity>
    </application>
</manifest>
